//
#include "resource.h"
#include "windows.h"

IDI_KISASUM       ICON         "res\\kisasum.ico"
IDI_ICON_APP  ICON         "res\\app.ico"
IDI_ICON_COPY   ICON      "res\\copy.ico"

IDM_MAIN_CONTEXT MENU
BEGIN
POPUP "0"
BEGIN
//MENUITEM "Change UI Color", IDM_CONTEXT_COLOR
MENUITEM "Copy Hash\tCtrl+C", IDM_CONTEXT_COPY
END
END


/////////////////////////////////////////////////////////////////////////////
/////////// version

VS_VERSION_INFO VERSIONINFO
FILEVERSION MAJORVER, MINORVER, PATCHVER, BUILDVER
PRODUCTVERSION MAJORVER, MINORVER, PATCHVER, BUILDVER
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "080404b0"
BEGIN
VALUE "CompanyName", "Force Charlie"
VALUE "FileDescription", "Kisasum - Hash Utilities"
VALUE "FileVersion", VERSIONSTRING
VALUE "InternalName", "kisasum-ui.exe"
VALUE "LegalCopyright", COPYRIGHT
VALUE "OriginalFilename", "kisasum-ui.exe"
VALUE "ProductName", "Kisasum - Hash Utilities"
VALUE "ProductVersion", VERSIONSTRING
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x804, 1200
END
END

